@import 'fontFace';
@include fontFace( 'Titles','PressStart2P-Regular');
@include fontFace( 'Body','PT_Sans-Web-Regular');
@include fontFace( 'Body-Italic','PT_Sans-Web-Italic');
@include fontFace( 'Body-Bold','PT_Sans-Web-Bold');
@include fontFace( 'Body-BoldItalic','PT_Sans-Web-BoldItalic');
@mixin titles {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: 'Titles';
        color: #ffffff;
        line-height: 1.5em;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 16px;
    }
}
@mixin bodies {
    h1,
    h2,
    h3 {
        font-family: 'Titles';
        line-height: 1.5em;
    }

    h4,
    h5,
    h6,
    p {
        font-family: 'Body';
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 26px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    i {
        font-family: 'Body-Italic';
    }

    b {
        font-family: 'Body-Bold';
    }
}
@mixin blokk {
    line-height: 28px;

    h4 {
        margin-left: 32px;
        margin-bottom: 12px;
    }

}
@mixin tittles {
    cursor: pointer;
    padding: 32px;
}
