// import settings :
@import 'settings';
@import 'fontFace';
@import 'mixins';

$titles-bg: #7CDBD5;

$divider-color: #F9BE02;
$divider-darker: #FF9829;

$body-color: #02C8A7;
$texts-color: #F53240;

$button-color: #F9BE02;
$button-shadow-color: #b68b00;
$button-text-color: #fff;

$section-color: #0EE25D;
$section-darker: #F9BE02;
$section-lighter: #0EE25D;
$text-color: #fff;

$general-text-color: #fff;

.divider {
    height: 3px;
    background-color: $divider-color;
    z-index: 1;
}

.square {
    height: 128px;
    width: 128px;
    background-color: $divider-color;
    z-index: 2;
    margin: auto;
    position: relative;
    bottom: 64px;
    overflow: hidden;
    border-radius: 64px;
}

.smaller-square {
    position: relative;
    width: 58%;
    height: 58%;
    margin: 10% auto auto;
    background: $divider-color;
    border-right: solid 24px $divider-darker;
    border-bottom: solid 24px $divider-darker;
}

.body {
    background-color: $body-color;
}

.texts {
    background-color: $texts-color;
    padding-top: 64px;
    margin: 0;
    position: relative;
    @include bodies;
    color: $general-text-color;
}

.paragraphs {
    display: inline-block;
    text-align: center;

}

.big-title {
    h1 {
        font-size: 48px;
        margin-bottom: 32px;
        color: $general-text-color;
    }
}

.block-1 {
    background-color: $section-color;
    @include bodies;
    @include blokk;
    color: $text-color;
    opacity: .8;
}

.semana-title-1 {
    background-color: $section-lighter;
    @include tittles;
}

.semana-title-1:hover {
    background-color: $section-darker;
}

.block-2 {
    background-color: $section-color;
    @include bodies;
    @include blokk;
    color: $text-color;
    opacity: .8;
}

.semana-title-2 {
    background-color: $section-lighter;
    @include tittles;
}

.semana-title-2:hover {
    background-color: $section-darker;
}

.oculto {
    display: none;
    margin: 32px 32px 48px;
}

.footer-container {
    @include titles;
    background-color: $titles-bg;
    color: $general-text-color;
}

.footer {
    padding: 64px 0;
    text-align: center;

    p {
        font-size: 2.369em;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container {
    @include titles;
    background-color: $titles-bg;
    padding-top: 48px;
}

.header {
    margin-bottom: 64px;
    text-align: center;
}

button {
    position: relative;
    display: block;
    border: 0;
    cursor: pointer;
    border-radius: 12px;
    font-size: 2.369em;
    color: $button-text-color;
    background-color: $button-color;
    font-family: 'Titles';
    box-shadow: 0 10px 0 0 $button-shadow-color;
    opacity: .9;
}

button:active {
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
}

button:hover {
    opacity: 1;
}

button:active,
button:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    float: left;
    height: 256px;
    border: solid 18px $divider-color;
    margin: 24px;
    max-width: 75%;
    max-height: auto;
}

a {
    text-decoration: none;
}
