@font-face {
  font-family: "Titles";
  src: url("../fonts/Abel-Regular.eot");
  src: url("../fonts/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Abel-Regular.woff") format("woff"), url("../fonts/Abel-Regular.woff2") format("woff2"), url("../fonts/Abel-Regular.ttf") format("truetype"), url("../fonts/Abel-Regular.svg#Titles") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body";
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.svg#Body") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-Italic";
  src: url("../fonts/Ubuntu-Italic.eot");
  src: url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.ttf") format("truetype"), url("../fonts/Ubuntu-Italic.svg#Body-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-Bold";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Body-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-BoldItalic";
  src: url("../fonts/Ubuntu-BoldItalic.eot");
  src: url("../fonts/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype"), url("../fonts/Ubuntu-BoldItalic.svg#Body-BoldItalic") format("svg");
  font-style: normal;
  font-weight: normal; }

.divider {
  height: 3px;
  background-color: #F9BE02;
  z-index: 1; }

.square {
  height: 128px;
  width: 128px;
  background-color: #F9BE02;
  z-index: 2;
  margin: auto;
  position: relative;
  bottom: 64px;
  overflow: hidden;
  border-radius: 64px; }

.smaller-square {
  position: relative;
  width: 58%;
  height: 58%;
  margin: 10% auto auto;
  background: #F9BE02;
  border-right: solid 24px #FF9829;
  border-bottom: solid 24px #FF9829; }

.body {
  background-color: #02C8A7; }

.texts {
  background-color: #F53240;
  padding-top: 64px;
  margin: 0;
  position: relative;
  color: #fff; }
  .texts h1,
  .texts h2,
  .texts h3 {
    font-family: 'Titles';
    line-height: 1.5em; }
  .texts h4,
  .texts h5,
  .texts h6,
  .texts p {
    font-family: 'Body'; }
  .texts h1 {
    font-size: 48px; }
  .texts h2 {
    font-size: 36px; }
  .texts h3 {
    font-size: 24px; }
  .texts h4 {
    font-size: 26px; }
  .texts h5 {
    font-size: 26px; }
  .texts h6 {
    font-size: 20px; }
  .texts p {
    font-size: 1em; }
  .texts i {
    font-family: 'Body-Italic'; }
  .texts b {
    font-family: 'Body-Bold'; }

.paragraphs {
  display: inline-block;
  text-align: center; }

.big-title h1 {
  font-size: 48px;
  margin-bottom: 32px;
  color: #fff; }

.block-1 {
  background-color: #0EE25D;
  line-height: 28px;
  color: #fff;
  opacity: .8; }
  .block-1 h1,
  .block-1 h2,
  .block-1 h3 {
    font-family: 'Titles';
    line-height: 1.5em; }
  .block-1 h4,
  .block-1 h5,
  .block-1 h6,
  .block-1 p {
    font-family: 'Body'; }
  .block-1 h1 {
    font-size: 48px; }
  .block-1 h2 {
    font-size: 36px; }
  .block-1 h3 {
    font-size: 24px; }
  .block-1 h4 {
    font-size: 26px; }
  .block-1 h5 {
    font-size: 26px; }
  .block-1 h6 {
    font-size: 20px; }
  .block-1 p {
    font-size: 1em; }
  .block-1 i {
    font-family: 'Body-Italic'; }
  .block-1 b {
    font-family: 'Body-Bold'; }
  .block-1 h4 {
    margin-left: 32px;
    margin-bottom: 12px; }

.semana-title-1 {
  background-color: #0EE25D;
  cursor: pointer;
  padding: 32px; }

.semana-title-1:hover {
  background-color: #F9BE02; }

.block-2 {
  background-color: #0EE25D;
  line-height: 28px;
  color: #fff;
  opacity: .8; }
  .block-2 h1,
  .block-2 h2,
  .block-2 h3 {
    font-family: 'Titles';
    line-height: 1.5em; }
  .block-2 h4,
  .block-2 h5,
  .block-2 h6,
  .block-2 p {
    font-family: 'Body'; }
  .block-2 h1 {
    font-size: 48px; }
  .block-2 h2 {
    font-size: 36px; }
  .block-2 h3 {
    font-size: 24px; }
  .block-2 h4 {
    font-size: 26px; }
  .block-2 h5 {
    font-size: 26px; }
  .block-2 h6 {
    font-size: 20px; }
  .block-2 p {
    font-size: 1em; }
  .block-2 i {
    font-family: 'Body-Italic'; }
  .block-2 b {
    font-family: 'Body-Bold'; }
  .block-2 h4 {
    margin-left: 32px;
    margin-bottom: 12px; }

.semana-title-2 {
  background-color: #0EE25D;
  cursor: pointer;
  padding: 32px; }

.semana-title-2:hover {
  background-color: #F9BE02; }

.oculto {
  display: none;
  margin: 32px 32px 48px; }

.footer-container {
  background-color: #7CDBD5;
  color: #fff; }
  .footer-container h1,
  .footer-container h2,
  .footer-container h3,
  .footer-container h4,
  .footer-container h5,
  .footer-container h6,
  .footer-container p {
    font-family: 'Titles';
    color: #ffffff;
    line-height: 1.5em; }
  .footer-container h1 {
    font-size: 4.209em;
    margin-bottom: 16px; }
  .footer-container h2 {
    font-size: 3.157em;
    margin-bottom: 16px; }
  .footer-container h3 {
    font-size: 2.369em;
    margin-bottom: 16px; }

.footer {
  padding: 64px 0;
  text-align: center; }
  .footer p {
    font-size: 2.369em; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.header-container {
  background-color: #7CDBD5;
  padding-top: 48px; }
  .header-container h1,
  .header-container h2,
  .header-container h3,
  .header-container h4,
  .header-container h5,
  .header-container h6,
  .header-container p {
    font-family: 'Titles';
    color: #ffffff;
    line-height: 1.5em; }
  .header-container h1 {
    font-size: 4.209em;
    margin-bottom: 16px; }
  .header-container h2 {
    font-size: 3.157em;
    margin-bottom: 16px; }
  .header-container h3 {
    font-size: 2.369em;
    margin-bottom: 16px; }

.header {
  margin-bottom: 64px;
  text-align: center; }

button {
  position: relative;
  display: block;
  border: 0;
  cursor: pointer;
  border-radius: 12px;
  font-size: 2.369em;
  color: #fff;
  background-color: #F9BE02;
  font-family: 'Titles';
  box-shadow: 0 10px 0 0 #b68b00;
  opacity: .9; }

button:active {
  box-shadow: none;
  top: 10px;
  margin-bottom: 0; }

button:hover {
  opacity: 1; }

button:active,
button:focus {
  outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

img {
  float: left;
  height: 256px;
  border: solid 18px #F9BE02;
  margin: 24px;
  max-width: 75%;
  max-height: auto; }

a {
  text-decoration: none; }
